<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{site.manifest.name}}</title>
	<meta name="description" content="{{site.manifest.description}}">
	<meta name="theme-color" content="{{site.manifest.theme_color}}">
	<meta name="msapplication-TileColor" content="{{site.manifest.theme_color}}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{site.manifest.theme_color}}">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
	{{#if site.debug}}<link rel="stylesheet" type="text/css" href="assets/css/debug.min.css">{{/if}}
	<noscript><style> .jsonly { display: none !important } </style></noscript>
	<script src="assets/js/main.min.js" defer></script>
	{{#if site.debug}}<script src="assets/js/debug.js" defer></script>{{/if}}
</head>

<body>
	<div id="container">
		<header>{{> svg-logo}}</header>
		{{> nav}}

		{{> body}}

		<div id="modal-background"></div>

		<footer>
			<label class="switch" for="theme-switch-checkbox">
				<input type="checkbox" id="theme-switch-checkbox" aria-label="Toggle theme">
				<div class="slider round"></div>
			</label>
			<span>Dark Theme</span>
			<p>&copy; Andy Speirs 2017-{{year}}</p>
		</footer>
	</div>
</body>

</html>
