<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{manifest.name}}</title>
	<meta name="description" content="{{manifest.description}}">
	<meta name="theme-color" content="{{manifest.theme_color}}">
	<meta name="msapplication-TileColor" content="{{manifest.theme_color}}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{manifest.theme_color}}">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
	<script src="assets/js/modules/nav.min.js" defer></script>
	<script src="assets/js/main.min.js" defer></script>
</head>

<body>
	<div id="container"{{#ifEquals debug true}} class="debug"{{/ifEquals}}>
		<div id="navbar-wrap">
			<div id="navbar">
				<a href="#home" class="brand">
					AFSpeirs
					{{!-- {{> svg-logo}} --}}
				</a>

				<nav class="nav-menu">
					{{> nav}}
				</nav>

				<div id="menu-btn"><span></span><span></span><span></span></div>
			</div>

			<nav class="mobile-nav-menu">
				{{> nav}}
			</nav>
		</div>

		<div class="content" id="home">{{> home}}</div>
		<div class="content" id="projects">{{> projects}}</div>
		<div class="content" id="gallery">{{> gallery}}</div>

		<footer>
			<p>&copy; Andy Speirs {{year}}</p>
		</footer>
	</div>
</body>

</html>