<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="{{config.colour}}">
	<meta name="msapplication-navbutton-color" content="{{config.colour}}">
	<meta name="apple-mobile-web-app-status-bar-style" content="{{config.colour}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AFSpeirs</title>
	<link rel="icon" type="image/ico" href="assets/img/global/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/css/{{title}}.min.css">
	<script src="assets/js/modules/nav.{{#ifEquals config.dev false}}min.{{/ifEquals}}js" defer></script>
	{{#exists jsname}}<script src="assets/js/pages/{{jsname}}.{{#ifEquals config.dev false}}min.{{/ifEquals}}js" defer></script>{{/exists}}
</head>

<body>
	<div id="container" {{#ifEquals config.dev true}}class="debug"{{/ifEquals}}>
		<div id="navbar-wrap">
			<div id="navbar">
				<a href="index.html" class="brand">
					AFSpeirs
					{{!-- <img src="assets/img/global/logo.svg" /> --}}
				</a>

				{{> navigation}}

				<div id="menu-btn"><span></span><span></span><span></span></div>
			</div>
		</div>
		
		<div id="content">
			{{{block "body"}}}
		</div>

		<footer>
			{{#block "foot"}}
				<p>&copy; Andy Speirs {{year}}</p>
			{{/block}}
		</footer>
	</div>
</body>

</html>