<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{manifest.name}}</title>
	<meta name="description" content="{{manifest.description}}">
	<meta name="theme-color" content="{{manifest.theme_color}}">
	<meta name="msapplication-TileColor" content="{{manifest.theme_color}}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{manifest.theme_color}}">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
	{{#if debug}}<link rel="stylesheet" type="text/css" href="assets/css/debug.min.css">{{/if}}
	<noscript><style> .jsonly { display: none !important } </style></noscript>
	<script src="assets/js/main{{#unless debug}}.min{{/unless}}.js" defer></script>
	{{#if debug}}<script src="assets/js/debug.js" defer></script>{{/if}}
</head>

<body>
	<div id="container">
		{{> nav}}

		{{{block "body"}}}

		<div id="modal-background"></div>

		<footer>
			<p>&copy; Andy Speirs 2017-{{year}}</p>
		</footer>
	</div>
</body>

</html>
