<section>
	<h2 class="header">Gallery</h2 class="header">
</section>
<div class="gallery-wrap flex">
	{{#times 7}}
		<a class="img-wrap" href="assets/img/pages/gallery/large/img_{{this}}.jpg" rel="noopener">
			<img class="jsonly" data-src="assets/img/pages/gallery/img_{{this}}.jpg" alt="Photo {{this}}" />
			<noscript><img src="assets/img/pages/gallery/img_{{this}}.jpg" alt="Photo {{this}}" /></noscript>
		</a>
	{{/times}}
</div>
