<section>
	<h2 class="header">Gallery</h2 class="header">
</section>
<div class="gallery-wrap flex">
	{{#each gallery.images}}
		<a class="img-wrap" href="assets/img/pages/gallery/large/{{this.image}}" rel="noopener">
			<img class="jsonly" data-src="assets/img/pages/gallery/{{this.image}}" alt="{{this.name}}" />
			<noscript><img src="assets/img/pages/gallery/{{this.image}}" alt="{{this.name}}" /></noscript>
		</a>
	{{/each}}
</div>
