<section>
	<h2 class="header">Gallery</h2>
	<noscript>For the best experience enable javascript</noscript>
	<div class="gallery-wrap flex">
		<div class="gallery-main img-wrap gallery-arrows">
			<img
				src="assets/img/pages/gallery/{{gallery.images.big-ben.image}}"
				alt="{{gallery.images.big-ben.name}}"
				data-modal="fullscreen-image"
				data-index="0"
			/>
			<div class="img-left jsonly"></div>
			<div class="img-right jsonly"></div>
		</div>
		<div class="gallery-secondary scroll">
			{{#each gallery.images}}
				<div class="img-wrap">
					<img
						src="assets/img/pages/gallery/{{this.image}}"
						alt="{{this.name}}"
						data-index="{{@index}}"
						data-image="{{this.image}}"
						data-name="{{this.name}}"
					/>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<div id="modal-fullscreen-image" class="modal fullscreen-close modal-gallery">
	<img
		id="modal-gallery-image"
		src="assets/img/pages/gallery/large/{{gallery.images.big-ben.image}}"
		alt="{{gallery.images.big-ben.name}}"
	/>
	<div class="modal-gallery-metadata">
		<h1 id="modal-gallery-title">{{gallery.images.big-ben.name}}</h1>
	</div>
</div>
