<article id="{{this.data.page.fileSlug}}">
	<header>
		<h2>{{this.data.name}}</h2>
	</header>
	{{#if this.templateContent}}
		{{{this.templateContent}}}
	{{/if}}
	{{#if this.data.url}}
		<p>To view the app, visit <a href="https://{{this.data.url}}">{{this.data.url}}</a>.</p>
	{{/if}}
	{{#if this.data.github}}
		{{>github-corners project="{{this.data.github}}"}}
	{{/if}}
</article>
