<section class="section-header">
	<span>{{#if sectionTitle}}{{sectionTitle}}{{else}}{{title}}{{/if}}</span>
	{{#exists image}}<img src="assets/img/pages/{{title}}/{{image}}.png" alt="" />{{/exists}}
</section>