<section>
	<h2 class="header">Gallery</h2>
	<noscript>For the best experience enable javascript</noscript>
	<div class="gallery-wrap flex">
		{{#each gallery.images}}
			<div class="gallery-main img-wrap" data-index="{{@index}}">
				<img
					data-src="assets/img/gallery/{{this.image}}"
					alt="{{this.name}}"
					width="1024"
					data-modal="fullscreen-image-{{@index}}"
				/>
			</div>
		{{/each}}
		<div class="gallery-secondary scrollable">
			<div class="scroller">
				{{#each gallery.images}}
					<div class="img-wrap">
						<img
							data-src="assets/img/gallery/{{this.image}}"
							alt="{{this.name}}"
							width="100"
							data-index="{{@index}}"
						/>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="scroll-fade"></div>
	</div>
</section>

{{#each gallery.images}}
	<div id="modal-fullscreen-image-{{@index}}" class="modal fullscreen-close modal-gallery">
		<img
			data-src="assets/img/gallery/large/{{this.image}}"
			alt="{{this.name}}"
		/>
		<div class="modal-gallery-metadata">
			<h3 id="modal-gallery-title">{{this.name}}</h3>
		</div>
	</div>
{{/each}}
