<div class="watchface flip-container" id="flip-toggle">
	<div class="flipper">
		<div class="front">
			{{!--Add images for different pebbles to swap between (aplite/dorite, basalt, and chalk)--}}
			<img
				class="{{#if basalt}}rect{{else if chalk}}round{{else}}rect{{/if}}"
				data-screen="{{#if basalt}}Basalt{{else if chalk}}Chalk{{else}}Aplite{{/if}}"
				{{#if aplite}}data-aplite="{{aplite}}"{{/if}}{{#if basalt}}data-basalt="{{basalt}}"{{/if}}{{#if chalk}}data-chalk="{{chalk}}"{{/if}}
				src="assets/img/projects/pebble/{{title}}/{{#if basalt}}Basalt{{else if chalk}}Chalk{{else}}Aplite{{/if}}_1.png">
			<div id="img-left"></div>
			<div id="img-right"></div>
			<button id="flip-button"></button>
		</div>
		<div class="back">
			<h3>{{title}}</h3>
			<div class="watchface-button">
				{{#if aplite}}<button class="watch" data-watch="Aplite" data-screen="rect">Aplite</button><br>{{/if}}
				{{#if basalt}}<button class="watch" data-watch="Basalt" data-screen="rect">Basalt</button><br>{{/if}}
				{{#if chalk}}<button class="watch" data-watch="Chalk" data-screen="round">Chalk</button><br>{{/if}}
			</div>

			<button id="flip-button"></button>
		</div>
	</div>
</div>