<div class="watchface" id="flip-toggle">
	<div class="flipper" id="{{#if basalt}}basalt{{else if chalk}}chalk{{else}}aplite{{/if}}">
		<div class="front" id="{{#if basalt}}basalt{{else if chalk}}chalk{{else}}aplite{{/if}}">
			<img id="{{#if basalt}}basalt{{else if chalk}}chalk{{else}}aplite{{/if}}"
				{{#if aplite}}data-aplite="{{aplite}}"{{/if}}{{#if basalt}}data-basalt="{{basalt}}"{{/if}}{{#if chalk}}data-chalk="{{chalk}}"{{/if}}
				src="assets/img/pages/projects/pebble/{{#trim title}}{{/trim}}/{{#if basalt}}Basalt{{else if chalk}}Chalk{{else}}Aplite{{/if}}_1.png">
			<div class="img-left"></div>
			<div class="img-right"></div>
		</div>
		<div class="back" id="{{#if basalt}}basalt{{else if chalk}}chalk{{else}}aplite{{/if}}">
			<h3>{{title}}</h3>
			<div class="watchface-button">
				{{#if aplite}}<button class="watch" data-watch="Aplite" data-screen="rect">Aplite</button><br>{{/if}}
				{{#if basalt}}<button class="watch" data-watch="Basalt" data-screen="rect">Basalt</button><br>{{/if}}
				{{#if chalk}}<button class="watch" data-watch="Chalk" data-screen="round">Chalk</button><br>{{/if}}
			</div>
			<div class="links">
				{{#if store}}
					<a href="{{store}}" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="11.5 11.5 25 25"><path d="M19 31.5c-1.4 0-2.5 1.1-2.5 2.5s1.1 2.5 2.5 2.5c1.4 0 2.5-1.1 2.5-2.5S20.4 31.5 19 31.5zM11.5 11.5v2.5h2.5l4.5 9.5 -1.7 3.1c-0.2 0.4-0.3 0.8-0.3 1.2 0 1.4 1.1 2.5 2.5 2.5h15v-2.5H19.5c-0.2 0-0.3-0.1-0.3-0.3 0-0.1 0-0.1 0-0.1l1.1-2h9.3c0.9 0 1.8-0.5 2.2-1.3l4.5-8.1c0.1-0.2 0.2-0.4 0.2-0.6 0-0.7-0.6-1.2-1.2-1.2H16.8L15.6 11.5H11.5zM31.5 31.5c-1.4 0-2.5 1.1-2.5 2.5s1.1 2.5 2.5 2.5c1.4 0 2.5-1.1 2.5-2.5S32.9 31.5 31.5 31.5z"/></svg>
					</a>
				{{/if}}
				{{#if source}}
					<a href="{{source}}" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="499.5 499.5 25 25"><path d="M512 499.5c-6.9 0-12.5 5.6-12.5 12.5 0 5.5 3.6 10.2 8.5 11.9 0.6 0.1 0.9-0.3 0.9-0.6 0-0.3 0-1.3 0-2.3 -3.5 0.8-4.2-1.5-4.2-1.5 -0.6-1.4-1.4-1.8-1.4-1.8 -1.1-0.8 0.1-0.8 0.1-0.8 1.3 0.1 1.9 1.3 1.9 1.3 1.1 1.9 2.9 1.4 3.6 1 0.1-0.8 0.4-1.4 0.8-1.7 -2.8-0.3-5.7-1.4-5.7-6.2 0-1.4 0.5-2.5 1.3-3.4 -0.1-0.3-0.6-1.6 0.1-3.3 0 0 1-0.3 3.4 1.3 1-0.3 2.1-0.4 3.1-0.4 1.1 0 2.1 0.1 3.1 0.4 2.4-1.6 3.4-1.3 3.4-1.3 0.7 1.7 0.3 3 0.1 3.3 0.8 0.9 1.3 2 1.3 3.4 0 4.8-2.9 5.9-5.7 6.2 0.5 0.4 0.8 1.1 0.8 2.3 0 1.7 0 3 0 3.4 0 0.3 0.2 0.7 0.9 0.6 5-1.7 8.5-6.3 8.5-11.9C524.5 505.1 518.9 499.5 512 499.5z"/></svg>
					</a>
				{{/if}}
			</div>
		</div>
	</div>

	<svg class="flip-button" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path d="M23.9 15c-0.7-0.6-1.5-1.1-2.2-1.7 0-0.5 0.1-1.1 0-1.6 0.7-0.6 1.5-1.1 2.2-1.7 1-0.7 0.6-1.3 0.2-2.3 -0.4-1-0.5-1.6-1.8-1.5 -0.9 0.1-1.8 0.2-2.7 0.4 -0.3-0.4-0.7-0.8-1.2-1.1 0 0 0 0 0 0 0.1-0.9 0.2-1.8 0.4-2.7 0.2-1.2-0.5-1.4-1.5-1.8 -1-0.4-1.5-0.8-2.3 0.2 -0.6 0.7-1.1 1.5-1.7 2.2 0 0 0 0 0 0 -0.5 0-1.1 0-1.6 0l0 0c-0.6-0.7-1.1-1.5-1.7-2.2C9.3 0.1 8.7 0.5 7.7 0.9 6.7 1.3 6.1 1.5 6.2 2.7 6.3 3.6 6.5 4.5 6.6 5.4c0 0 0 0 0 0 -0.4 0.4-0.8 0.7-1.1 1.2l0 0C4.5 6.5 3.6 6.3 2.7 6.2 1.5 6.1 1.3 6.7 0.9 7.7 0.5 8.7 0.1 9.3 1.1 10c0.7 0.6 1.5 1.1 2.2 1.7l0 0c0 0.5 0 1.1 0 1.6 -0.7 0.6-1.5 1.1-2.2 1.7 -1 0.7-0.6 1.3-0.2 2.3 0.4 1 0.6 1.6 1.8 1.5 0.9-0.1 1.8-0.2 2.7-0.4 0.4 0.4 0.7 0.8 1.2 1.1H6.6c-0.1 0.9-0.2 1.8-0.4 2.7 -0.2 1.2 0.5 1.3 1.5 1.8 1 0.4 1.5 0.8 2.3-0.2 0.6-0.7 1.1-1.5 1.7-2.2 0.5 0 1.1 0.1 1.6 0 0.6 0.7 1.1 1.5 1.7 2.2 0.7 1 1.3 0.6 2.3 0.2 1-0.4 1.6-0.6 1.5-1.8 -0.1-0.9-0.2-1.8-0.4-2.7 0.4-0.4 0.8-0.7 1.2-1.2 0.9 0.1 1.8 0.2 2.7 0.4 1.2 0.2 1.4-0.5 1.8-1.5C24.5 16.3 24.9 15.7 23.9 15zM7.7 14.5c-1.1-2.7 0.2-5.7 2.8-6.9 2.7-1.1 5.7 0.2 6.9 2.8 1.1 2.7-0.2 5.7-2.8 6.9C11.8 18.5 8.8 17.2 7.7 14.5z" style="fill:#D3D3D3;stroke:#000"/></svg>
</div>