---
layout: default.hbs
---
<section id="home">
	<div class="section-content">
		<h2>{{title}}</h2>
		{{{content}}}
	</div>
</section>

<section id="projects">
	<h2>Projects</h2>

	<div class="section-content">
		<ul class="project-list">
			{{#each collections.projects}}
				{{> project-list-item post=this}}
			{{/each}}
		</ul>
	</div>
</section>

<section id="other">
	<h2>Other</h2>

	<div class="section-content">
		<ul class="project-list">
			{{#each collections.other}}
				{{> project-list-item post=this}}
			{{/each}}
		</ul>
	</div>
</section>

{{#each collections.about as |post|}}
	<section id="{{post.data.fileSlug}}">
		<h2>{{post.data.title}}</h2>

		<div class="section-content">
			{{{post.templateContent}}}
		</div>
	</section>
{{/each}}
