<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{manifest.name}}</title>
	<meta name="description" content="{{manifest.description}}">
	<meta name="theme-color" content="{{manifest.theme_color}}">
	<meta name="msapplication-TileColor" content="{{manifest.theme_color}}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="icon" href="/favicon.svg">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{manifest.theme_color}}">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
	{{#ifeq env "dev"}}<link rel="stylesheet" type="text/css" href="assets/css/dev.min.css">{{/ifeq}}
	<script src="assets/js/main.min.js" defer></script>
	{{#ifeq env "dev"}}<script src="assets/js/dev.js" defer></script>{{/ifeq}}
	<noscript><style> .jsonly { display: none !important } </style></noscript>
</head>

<body>
	{{{content}}}
</body>

</html>
