<li>
	<a class="project-list--link" href="{{post.data.page.url}}">
		<div class="project-list--item">
			<div class="row row--1">
				<h3>{{post.data.title}}</h3>
				<time datetime="{{post.date}}">{{formatDate date=post.date format="YYYY"}}</time>
			</div>
			<div class="row row--2">
				{{#if post.data.description}}
					{{post.data.description}}
				{{/if}}
			</div>
		</div>
	</a>
</li>
