<article {{#ifnotin post.data.page.fileSlug post.data.tags}}id="{{post.data.page.fileSlug}}"{{/ifnotin}}>
	<header>
		{{#if post.data.title}}
			<h3>
				{{post.data.title}}
				{{#ifnotin post.data.page.fileSlug post.data.tags}}
					<a href="#{{post.data.page.fileSlug}}" aria-hidden="true">#</a>
				{{/ifnotin}}
			</h3>
		{{/if}}
	</header>
	{{#if post.templateContent}}
		{{{post.templateContent}}}
	{{/if}}
	{{#if post.data.url}}
		<p>To view the app, visit <a href="https://{{post.data.url}}" target="_blank" rel="noopener noreferrer">{{post.data.url}}</a>.</p>
	{{/if}}
	{{#if post.data.github}}
		{{> github-corners project=post.data.github}}
	{{/if}}
</article>
